<log4net>
    <root>
        <level value="ALL" />
        <appender-ref ref="file" />
    </root>
    <appender name="file" type="log4net.Appender.FileAppender">
        <file value="/proc/1/fd/1" />
        <appendToFile value="false" />
        <layout type="rmb.shared.JsonLayout, rmb.shared" />
    </appender>
</log4net>